<div class="app">
  <div class="container">
    
    <h1 class="title is-2">Todo List</h1>
    
    <div class="todo-app">
      
      <app-cockpit (taskEventEmit)="receiveNewTask($event)"
      [editTask]="editTask" [editedTask]="editedTask"
      (editedTaskEventEmit)="receivedEditedTask($event)"></app-cockpit>
      
    </div>    
    
    <div class="card-pane">
      
      <app-tasks [tasks]="tasks"
      (toggleCompletedEventEmit2)="toggleCompletedTask($event)"
      (deleteTodoEventEmit2)="deletedTodoTask($event)"
      (editTodoEventEmit2)="editedTodoTask($event)"></app-tasks>
      
    </div>
    
  </div> 
</div> 
